<footer>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga nisi sit nesciunt mollitia, ea hic quae modi esse animi? Ipsum distinctio illum fuga voluptas id eos ab, ad animi blanditiis?</p>
</footer>